:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content__card {
    margin-top: 1rem;
    width: 80%;
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    overflow: hidden;

    .card__img {
        max-width: 100%;
    }
    
    .card__title {
        font-size: 1.5rem;
        padding-left: 2rem;
        color: var(--font-color);
    }

    .card__info-list {
        list-style: none;
        padding-left: 2rem;
        margin-bottom: 3rem;
        color: var(--font-color);
        
        .info-list__item {
            font-size: 1.2rem;
        }
    
        .item__title {
            font-weight: bold;
        }
    }

}



