.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.50);
}

.header__title {
    
}

.title__text {
    font-weight: 900;
}

.header__dark-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dark-mode__icon {
    padding: .4rem;
}


.dark-mode__text {
    font-weight: 600;
}


