<header class="header">
    <section class="header__title">
      <h1 class="title__text">Where in the world?</h1>
    </section>
    <section class="header__dark-mode" (click)="changeDarkMode()">
      <section class="dark-mode__icon" *ngIf="!isDarkMode">
        <em class="fa-solid fa-moon"></em>
      </section>
      <section class="dark-mode__icon" *ngIf="isDarkMode">
        <em class="fa-solid fa-sun"></em>
      </section>
      <section class="dark-mode__text">
        <p>{{isDarkMode ? 'Light Mode' : 'Dark Mode'}}</p>
      </section>
    </section>
  </header>
