.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: var(--card-box-shadow);
    background: var(--card-background);
    color: var(--font-color);
}

.title__text {
    font-weight: 900;
}

.header__dark-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dark-mode__icon {
    padding: .4rem;
}


.dark-mode__text {
    font-weight: 600;
}


