:host {
    display: grid;
    place-items: center;
}

.input-group {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
}

.input-group__icon {
    margin-right: 1rem;
    font-size: 16px;
    outline: none;
    color: var(--font-color);
}

.input-group__input {
    color: var(--font-color);
    font-size: 16px;
    font-family: var(--primary-font);
    background: inherit;
    border-radius: 10px;
    border: none;
    outline: none;
}

.input-group__input::placeholder {
    color: var(--font-color);
}