:host {
    display: grid;
    place-items: center;
}

.input-group {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background: rgba( 255, 255, 255, 0.9 );
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(86, 87, 92, 0.37);
}

.input-group__icon {
    margin-right: 1rem;
    font-size: 16px;
    outline: none;
    color: var(--Dark-Gray);
}

.input-group__input {
    color: var(--Dark-Gray);
    font-size: 16px;
    font-family: var(--primary-font);
    background: inherit;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
}