<!-- <i class="fa-solid fa-moon"></i>
<i class="fa-solid fa-sun"></i>
<i class="fa-solid fa-magnifying-glass"></i>
<i class="fa-solid fa-left-long"></i> -->

<app-header></app-header>

<router-outlet></router-outlet>
<!-- <app-search-input [inputPlaceholder]="'Search for a country...'" (sendSearchValue)="searchCountry($event)"></app-search-input> -->

<section class="main-content">
    <div class="main-content__card">
        <img src="" alt="" class="card__img">
        <h2 class="card__title">Pais</h2>
        <ul class="card__info-list">
            <li class="info-list__item">Population:</li>
            <li class="info-list__item">Region:</li>
            <li class="info-list__item">Capital:</li>
        </ul>
    </div>
</section>