:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 70%;
    border: none;
    outline: none;
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    color: var(--font-color);
    font-family: var(--primary-font);
}

.select__option {
    border: none;
}