:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 70%;
    border: none;
    outline: none;
    background: rgba( 255, 255, 255, 0.9 );
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(86, 87, 92, 0.37);
    color: var(--Dark-Gray);
    font-family: var(--primary-font);
}

.select__option {
    border: none;
}